___
# Data Manipulation: Basics

## Finding and Filling in blank values
___

### Importing libraries and Classes

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

#### Finding the blank values

In [2]:
in_blank = np.nan
serie = Series(['row 1', 'row 2', in_blank, 'row 4',
                'row 5', 'row 6', in_blank, 'row 8'])
serie

0    row 1
1    row 2
2      NaN
3    row 4
4    row 5
5    row 6
6      NaN
7    row 8
dtype: object

##### object_name.isnull()

In [3]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

#### Filling in blank values

In [4]:
np.random.seed(21)
df = DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5, 0] = in_blank
df.loc[1:4, 3] = in_blank
df

          0         1         2         3         4         5
0  0.048725  0.289110  0.720966  0.021616  0.205923  0.050773
1  0.302272  0.663910  0.308114       NaN  0.069571  0.867404
2  0.133241  0.178125  0.495930       NaN  0.758944  0.970485
3       NaN  0.384250  0.408718       NaN  0.270670  0.854103
4       NaN  0.760756  0.516669       NaN  0.298692  0.283943
5       NaN  0.460140  0.544368  0.217401  0.799868  0.726684

##### object_name.fillna(value)

In [5]:
df_full = df.fillna(0)
df_full

          0         1         2         3         4         5
0  0.048725  0.289110  0.720966  0.021616  0.205923  0.050773
1  0.302272  0.663910  0.308114  0.000000  0.069571  0.867404
2  0.133241  0.178125  0.495930  0.000000  0.758944  0.970485
3  0.000000  0.384250  0.408718  0.000000  0.270670  0.854103
4  0.000000  0.760756  0.516669  0.000000  0.298692  0.283943
5  0.000000  0.460140  0.544368  0.217401  0.799868  0.726684

#### object_name.fillna(dictionary)

In [6]:
dictn = {0: 0.1,3:1.25}
df_full = df.fillna(dictn)
df_full

          0         1         2         3         4         5
0  0.048725  0.289110  0.720966  0.021616  0.205923  0.050773
1  0.302272  0.663910  0.308114  1.250000  0.069571  0.867404
2  0.133241  0.178125  0.495930  1.250000  0.758944  0.970485
3  0.100000  0.384250  0.408718  1.250000  0.270670  0.854103
4  0.100000  0.760756  0.516669  1.250000  0.298692  0.283943
5  0.100000  0.460140  0.544368  0.217401  0.799868  0.726684

#### Filling blank values with column mean

In [7]:
df_full = df.fillna(df.mean(1))
df_full

          0         1         2         3         4         5
0  0.048725  0.289110  0.720966  0.021616  0.205923  0.050773
1  0.302272  0.663910  0.308114  0.479435  0.069571  0.867404
2  0.133241  0.178125  0.495930  0.479435  0.758944  0.970485
3  0.222852  0.384250  0.408718  0.479435  0.270670  0.854103
4  0.222852  0.760756  0.516669  0.479435  0.298692  0.283943
5  0.222852  0.460140  0.544368  0.217401  0.799868  0.726684