___
# Data Manipulation: Basics

## Selecting data
___

### Importing libraries and Classes

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Creating data

In [2]:
data = np.arange(8)
data

array([0, 1, 2, 3, 4, 5, 6, 7])

In [3]:
data = data.reshape((4,2))
data

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

### Selecting and searching data

In [4]:
data  = np.arange(8)
index = ['row 1', 'row 2', 'row 3', 'row 4', 
         'row 5', 'row 6', 'row 7', 'row 8']
serie = Series(data,index=index)
serie

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

##### ['index']

In [5]:
serie['row 7']

6

In [6]:
np.random.seed(21)
index = ['row 1', 'row 2', 'row 3',
        'row 4', 'row 5', 'row 6']
columns = ['columns 1', 'columns 2', 'columns 3',
           'columns 4','columns 5','columns 6']
df = DataFrame(np.random.rand(36).reshape(6,6),
               index=index,
               columns=columns)
df

       columns 1  columns 2  columns 3  columns 4  columns 5  columns 6
row 1   0.048725   0.289110   0.720966   0.021616   0.205923   0.050773
row 2   0.302272   0.663910   0.308114   0.583591   0.069571   0.867404
row 3   0.133241   0.178125   0.495930   0.863700   0.758944   0.970485
row 4   0.759303   0.384250   0.408718   0.713360   0.270670   0.854103
row 5   0.913164   0.760756   0.516669   0.167836   0.298692   0.283943
row 6   0.327213   0.460140   0.544368   0.217401   0.799868   0.726684

##### object_name.loc[[row],[columns]]

In [7]:
df.loc[['row 2' ,'row 4'],['columns 3', 'columns 5']]

       columns 3  columns 5
row 2   0.308114   0.069571
row 4   0.408718   0.270670

#### Slicing data

['initial index': 'final index']

In [8]:
serie['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int32